table, td, th {
    width: 50%;
    border: 1px solid green;
    font-weight : bold;
}

th {
    background-color: green;
    color: white;
}

.no-close .ui-dialog-titlebar-close {
display: none;
}

#menu {
    margin-bottom : 20px;
    width: 15%;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.0em;
}